@tailwind base;
@tailwind components;
@tailwind utilities;

.cert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.cert-header {
    font-size: 30px;
}